<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/css/resources.css">
</head>

<body>
  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="hero-wrapper">
      <section class="container hero">
        <h1 class="title">Resources</h1>
      </section>
    </div>

    <div class="links-wrapper">
      <section class="container links">
        <% for (var i = 0; i < resourceLinks.length; i++) { %>
          <div class="row">
            <div class="col s12 m12">
              <div class="card small">
                <div class="card-content">
                  <span class="card-title">
                    <%= resourceLinks[i].title %>
                    <% for (var j = 0; j < resourceLinks[i].tags.length; j++) { %>
                      <span class="new badge red" data-badge-caption="">
                        <%= resourceLinks[i].tags[j] %>
                      </span>
                    <% } %>
                  </span>
                  <span class="card-subtitle">
                    <%= resourceLinks[i].author %>
                  </span>
                  <p>
                    <%= resourceLinks[i].desc %>
                  </p>
                </div>

                <div class="card-action">
                  <a target="_blank" href="<%- resourceLinks[i].link %>">Go to resource</a>
                </div>
              </div>
            </div>
          </div>

        <% } %>
      </section>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>